<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="risePages.NewTest" />
			<class name="risePages.FindBrokenLinks" />
			<class name="risePages.jenkins_demo" />
			<class name="risePages.Redirects" />
		</classes>
	</test> <!-- Test -->
	<!-- <test name="FirefoxTest"> <parameter name = "browser" value = "firefox"/> 
		<classes> <class name="RiseSuite.NewTest" /> <class name="RiseSuite.FindBrokenLinks" 
		/> <class name="RiseSuite.jenkins_demo" /> <class name="RiseSuite.Redirects" 
		/> </classes> </test> -->
</suite> <!-- Suite -->
